<style>	
	.editable-click { 
	  color: inherit;
	  border-bottom: inherit;
	}
	.editable-click:hover { 
	  color: #2a6496 !important;
	  border-bottom-color: inherit;
	  cursor: pointer;
  	  border-radius: 4px;
	  box-shadow: 0 0 5px #2a6496;
	  
	  -webkit-transition: all 0.20s ease-in-out;
	  -moz-transition: all 0.20s ease-in-out;
	  -ms-transition: all 0.20s ease-in-out;
	  -o-transition: all 0.20s ease-in-out;
	  
	  display: inline-block;
	  min-width: 120px;	  
	}
	.detail {
	  box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.75);
	  z-index: 1000;
	}
	.items-list .list-group-item.property-item {
	  display: flex;
	  width:100%
	}
	.items-list .list-group-item.property-item>div:first-of-type {
	  flex: 1 0 auto;
	}
</style>
<!--<div class="detail col-xs-8 col-md-10">-->
<div class="detail col-xs-12 col-md-12">
		
	<header class="header navbar-inverse">
      <div class="btn-group pull-right">
   		<button class="btn btn-success" ng-click="detailsEditorVm.saveItem()">
		  <i class="fa fa-check" aria-hidden="true"></i>
		</button>
   		<button type="reset" class="btn" ng-click="detailsEditorVm.cancelEdit()">
		  <i class="fa fa-ban" aria-hidden="true"></i>
		</button>
      </div>
    </header>
			
	<section class="object-header fluid-container alert-info">
		<section>
			<div class="object-image">
				<i class="fa fa-th"></i>
			</div>
			<div class="object-title">
				<p class="title" editable-text="detailsEditorVm.entityForEdit.label" onaftersave="detailsEditorVm.entityLabelChanged()">{{detailsEditorVm.entityForEdit.label}}</p>
	    		<p class="subtitle" editable-text="detailsEditorVm.entityForEdit.description">{{detailsEditorVm.entityForEdit.description}}</p>											
			</div>
		</section>				    		
	</section>	
		
	<div class="list-content">	
	
		<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><a href ng-click="detailsEditorVm.showProperties()" data-target="#properties" aria-controls="properties" role="tab" data-toggle="tab">Properties</a></li>
		  <li role="presentation"><a href ng-click="detailsEditorVm.showRelationships()" data-target="#relations" aria-controls="relations" role="tab" data-toggle="tab">Relations <i class="fa fa-chain pull-right"></i></a></li>
		  <li role="presentation"><a href ng-click="detailsEditorVm.showConfig()" data-target="#config" aria-controls="configuration" role="tab" data-toggle="tab">Configuration <i class="fa fa-cog pull-right"></i></a></li>		  
		</ul>

		<div class="toolbar btn-group pull-left">
	   		<button class="btn btn-primary" ng-click="detailsEditorVm.openPropertyEditor()" ng-if="detailsEditorVm.tab!==2">
			  <i class="fa fa-plus" aria-hidden="true"></i>
			</button>
		</div>	
		<div class="toolbar btn-group pull-right">
			<div class="inner-addon left-addon">
			    <i class="glyphicon glyphicon-search"></i>	
			    <input type="search" class="quick-search" placeholder="Search" ng-model="detailsEditorVm.searchText"/>
			</div>
		</div>

		<div class="tab-content">
		
			<div class="tab-pane fade in active" role="tabpanel" id="properties">
				
				<div class="items-list">
					<div ng-hide="detailsEditorVm.entityForEdit.properties.length" class="nodata-text">No Properties</div>
					<div class="list-group" ng-if="detailsEditorVm.propertyItems.length>0">
					  <div class="list-group-item property-item" ng-repeat="entry in detailsEditorVm.propertyItems|filter:detailsEditorVm.searchText|orderBy:['-isPrimaryKey','-required','name']" ng-if="detailsEditorVm.app['expert-mode'] || (!entry.isPrimaryKey && !entry.managingRelationName)">
					  	<div class="prop-{{entry.isPrimaryKey || entry.managingRelationName?'id':(entry.required?'required':'optional')}}">
							<div class="list-group-item-title">
								<span ng-class="{emphasized: (entry.required || entry.isPrimaryKey)}">{{entry.label || entry.name}}</span>
								<i ng-if="entry.required && !entry.isPrimaryKey" class="fa fa-asterisk required" aria-hidden="true"></i>
								<i ng-if="entry.isPrimaryKey" class="fa fa-key" aria-hidden="true"></i>
								<span ng-if="!entry.required && !entry.isPrimaryKey" class="optional">(optional)</span>
							</div>
							<div class="list-group-item-text">
								<div>
									Data Type: <span style="color:gray">{{detailsEditorVm.formatType(entry, detailsVm.app['expert-mode'])}}</span>
								</div>
								<div ng-if="detailsEditorVm.app['expert-mode']">
									<div>Column: <span style="color:gray">{{entry.column}}</span></div>
									<div>Default: <span style="color:gray">{{entry.defaultValue}}</span></div>									
									<div>Order: <span style="color:gray">{{entry.order}}</span></div>
									<div ng-if="entry.managingRelation">
										Managed by Relationship: <span style="color:gray" ng-bind="entry.managingRelation.name"></span> defined in <span ng-bind="entry.managingRelation.entityLabel"></span> entity
									</div>
								</div>
							</div>
							<!--Data Type: <span style="color: gray; font-style: italic">{{detailsEditorVm.app['expert-mode']===true?entry.type:entry.typeLabel}}<span>-->
						</div>
						<div class="btn-group" style="align-self: center;">
		   					<button class="btn btn-primary" ui-sref="list.entity.edit.items({item: entry, entityForEdit:detailsEditorVm.entityForEdit})">
							  <i class="fa fa-pencil" aria-hidden="true"></i>
							</button>
							<button ng-disabled="entry.isPrimaryKey || entry.managingRelationName" class="btn btn-danger" ng-click="detailsEditorVm.deleteProperty(entry)">
							  <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
							</button>
						</div>						
					  </div>
					</div>
				</div>
				
			</div>	
			
			<div class="tab-pane fade" role="tabpanel" id="relations">
	
				<div class="items-list">
					<div ng-hide="detailsEditorVm.propertyItems.length" class="nodata-text">No Relations</div>				
					<ul class="list-group" ng-show="detailsEditorVm.propertyItems.length">
					  <li class="list-group-item" ng-repeat="entry in detailsEditorVm.propertyItems|filter:detailsEditorVm.searchText|orderBy:['-isPrimaryKey','-required','name']" ng-click="$event.stopPropagation();" style="outline: none; cursor: auto;">
						<div style="display:inline-block" ng-switch on="detailsEditorVm.app['expert-mode']">
							<div class="list-group-item-title">
								<span class="emphasized">{{entry.label}}</span>
							</div>
							<div class="list-group-item-text" style="color:gray;" ng-switch on="entry.type">
								<span ng-bind="entry.srcMultiplicity==1?'One':'Many'"/></span> <span style="font-weight:bold" ng-bind="entry.source.label"/> <span ng-bind="entry.srcMultiplicity==1?'entity':'entities'"></span>
								<span ng-switch-when="1"> association to </span>
								<span ng-switch-when="2"> composition of </span>
								<span ng-switch-when="3"> aggregation of </span>
								<span ng-bind="entry.targetMultiplicity==1?'one':'many'"/></span> <span style="font-weight:bold" ng-bind="entry.target.label" ui-sref='list.entity({"boId":entry.target.id})'></span> <span ng-bind="entry.targetMultiplicity==1?'entity':'entities'"></span>
							</div>						
							<div class="list-group-item-text" style="color:gray;" ng-switch on="entry.type" ng-if="detailsEditorVm.app['expert-mode']">
								<div>
									<span ng-bind="entry.srcMultiplicity==1?'1':'M'"/></span> <span ng-bind="entry.source.table"></span><span>[{{entry.srcEntityKeyProperty.column}}]</span>
									-
									<span ng-bind="entry.targetMultiplicity==1?'1':'N'"/></span> <span ng-bind="entry.target.table"></span><span>[{{entry.targetEntityKeyProperty.column}}]</span>
								</div>
							</div>							
						</div>
						<div class="btn-group pull-right">
		   					<button class="btn btn-primary" ui-sref="list.entity.edit.relations({relation: entry, entityForEdit: detailsEditorVm.entityForEdit})">
							  <i class="fa fa-pencil" aria-hidden="true"></i>
							</button>
							<button class="btn btn-danger" ng-click="detailsEditorVm.deleteRelation(entry)">
							  <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
							</button>
						</div>					
					  </li>
					</ul>
				</div>
			</div>			
			
			<div class="tab-pane fade" role="tabpanel" id="config">
				<div>
				<form class="form-horizontal">
				
					<div class="panel panel-default" style="border-left:0; border-right:0; border-radius:0">
					  <div class="panel-heading clearfix">
					    <h3 class="panel-title pull-left">Data Structure</h3>
				    	<div class="pull-right">
							<input type="checkbox" class="checkbox" data-on-text="Enable" data-off-text="Disable" ng-model="detailsEditorVm.entityForEdit.dsGenEnabled" bootstrap-switch/>						    
						</div>
					  </div>
					  <div class="panel-body">
						  <div class="form-group" ng-if="detailsEditorVm.filterConfigurationEntries(detailsEditorVm.searchText, 'Database Table Name')">
						    <label for="table" class="col-sm-3 control-label" required="true">Database Table Name</label>
						    <div class="col-sm-8">
						      <input name="table" id="table" class="form-control" placeholder="Type Table Name" ng-model="detailsEditorVm.entityForEdit.table" ng-disabled="!detailsEditorVm.entityForEdit.dsGenEnabled" minlength="1" required="true">
						    </div>
						  </div>
					  </div>
					</div>
					
					<div class="panel panel-default" style="border-left:0; border-right:0; border-radius:0">
					  <div class="panel-heading clearfix">
					    <h3 class="panel-title pull-left">Service</h3>
				    	<div class="pull-right">
							<input type="checkbox" class="checkbox" data-on-text="Enable" data-off-text="Disable" ng-model="detailsEditorVm.entityForEdit.svcGenEnabled" bootstrap-switch/>						    
						</div>
					  </div>						
					  <div class="panel-body">
						<div class="form-group" ng-if="detailsEditorVm.filterConfigurationEntries(detailsEditorVm.searchText, 'Service Name')">
						  <label for="service" class="col-sm-3 control-label" required="true">Service Name</label>
						  <div class="col-sm-8">
					     	<input name="svc_name" id="table" class="form-control" placeholder="Type Service Name" ng-model="detailsEditorVm.entityForEdit.svcName" ng-disabled="!detailsEditorVm.entityForEdit.svcGenEnabled" minlength="1" required="true">
						  </div>
						</div>
					  </div>
					</div>
					
					<div class="panel panel-default" style="border-left:0; border-right:0; border-radius:0">
					  <div class="panel-heading clearfix">
					    <h3 class="panel-title pull-left">UI</h3>
				    	<div class="pull-right">
			 				<input type="checkbox" class="checkbox" data-on-text="Enable" data-off-text="Disable" ng-model="detailsEditorVm.entityForEdit.uiGenEnabled" bootstrap-switch/>						    
						</div>
					  </div>												
					  <div class="panel-body">
						<div class="form-group" ng-if="detailsEditorVm.filterConfigurationEntries(detailsEditorVm.searchText, 'Page Title')">
						  <label for="ui-title" class="col-sm-3 control-label" required="true">Page Title</label>
						  <div class="col-sm-8">
					     	<input name="ui-title" id="ui-title" class="form-control" placeholder="Type Page Title" ng-model="detailsEditorVm.entityForEdit.uiTitle" ng-disabled="!detailsEditorVm.entityForEdit.uiGenEnabled" minlength="1" required="true">
						  </div>
						</div>
					  </div>
					</div>						
				</form>		
				<div>
			</div>				
			
		</div>	

	</div>		
		
</div>
